body{
    background-color: blanchedalmond;
    display: table;
}
.container{
    display: grid;
    grid-template-areas:
        "header header"
        "image text";
    grid-template-columns: 1fr, 1fr;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
}
div{
    display: grid;
    grid-template-columns: 200px, 200px;
}
img{
    width:400px;
    height:200px;

}

section{
    height: 300px;
    
}
p{
    display: inline-block;
    display: table-cell;
    position: relative;
    width: 600px;
    height:100px;
    left: 600px;
    top: -200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
}