body{
    display: table;
    background-color:bisque;
}
h1{
    font-family: sans-serif;
    color: black;
    font-size: 50px;
    text-align: center;
}
h2{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: lighter;
    clear: both;
}
h3{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
li{
    font-family: sans-serif;
    font-size: 30px;
}
img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}
p{
    display: inline-block;
    height:100px;
    width: 600px;
    position: relative;
    top: -200px;
    left: 500px;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    display: table-cell;
}
figcaption{
    color:cornflowerblue;
}
div{
    display: inline-block;
}